h1 { 
    text-align: center;
    color: white;
}

#username{
   margin-top: 20px;
}

body {
	font-family: 'Lato', sans-serif;
	background: #353535;
	color: #FFF;
}

.inputText {
    width: 40%;
    padding: 10px 20px;
    margin: 2px 0;
    border: 2px solid rgb(175, 1, 82);
    border-radius: 4px;
    
}

::placeholder {    
    text-align: center; 
    font-size: 17px;
    color: rgb(122, 122, 122);
  }

form {
    border: 2px solid rgb(151, 21, 108);
    border-radius: 10px;
    width: 900px;
    border-width: 3px;
    
}

#errorUsername, #errorEmail, #errorPassword, #errorPhonenumber, #errorCardnumber {
    color: red
}


a.animated-button.signup:after {
	opacity: 0;
	background-image: -webkit-linear-gradient( transparent 50%, rgba(190, 33, 151, 0.2) 50%);
	background-image: -moz-linear-gradient(transparent 50%, rgba(190, 167, 33, 0.2) 50%);
	background-size: 10px 10px;
	-moz-transform: translateX(-50%) translateY(-50%) rotate(25deg);
	-ms-transform: translateX(-50%) translateY(-50%) rotate(25deg);
	-webkit-transform: translateX(-50%) translateY(-50%) rotate(25deg);
	transform: translateX(-50%) translateY(-50%) rotate(25deg);
}
a.animated-button.signup:hover:after {
	height: 1000% !important;
	opacity: 1;
	color: #FFF;
}

a.animated-button:link:after, a.animated-button:visited:after {
    content: "";
    position: absolute;
    height: 0%;
    left: 50%;
    top: 50%;
    width: 150%;
    z-index: -1;
    -webkit-transition: all 0.75s ease 0s;
    -moz-transition: all 0.75s ease 0s;
    -o-transition: all 0.75s ease 0s;
    transition: all 0.75s ease 0s;
}

a.animated-button:link:hover:after, a.animated-button:visited:hover:after {
    height: 1000%;
}
a.animated-button:link, a.animated-button:visited {
    position: relative;
    display: block;
    margin: 30px auto 0;
    padding: 14px 15px;
    color: whitesmoke;
    font-size:14px;
    border-radius: 0;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    letter-spacing: .08em;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}
