h1 { 
    margin-top: 50px;
    text-align: center;
    color:#D24D57;
}

#username{
   margin-top: 20px;
}

body {
	font-family: 'Lato', sans-serif;
	background: #353535;
	color: #FFF;
}

.inputText {
    width: 40%;
    padding: 10px 20px;
    margin: 2px 0;
    border: 2px solid #D24D57;
    border-radius: 4px;
    
}

::placeholder {    
    text-align: center; 
    font-size: 17px;
    color: rgb(122, 122, 122);
  }

form {
    margin-top: 100px;
    border: 2px solid #D24D57;
    border-radius: 2px;
    width: 900px;
    border-width: 3px;
    height: 370px;
    
}


a.animated-button.signup:after {
	background: #D24D57;
	-moz-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
	-ms-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
	-webkit-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
	transform: translateX(-50%) translateY(-50%) rotate(-25deg);
}
	

a.animated-button.signup:hover:after {
	height: 1000% !important;
	opacity: 1;
	color: #FFF;
}

a.animated-button:link:after, a.animated-button:visited:after {
    content: "";
    position: absolute;
    height: 0%;
    left: 50%;
    top: 50%;
    width: 150%;
    z-index: -1;
    -webkit-transition: all 0.75s ease 0s;
    -moz-transition: all 0.75s ease 0s;
    -o-transition: all 0.75s ease 0s;
    transition: all 0.75s ease 0s;
}

a.animated-button:link:hover:after, a.animated-button:visited:hover:after {
    height: 1000%;
}
a.animated-button:link, a.animated-button:visited {
    position: relative;
    display: block;
    margin: 30px auto 0;
    padding: 14px 15px;
    color: whitesmoke;
    font-size:14px;
    border-radius: 0;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    letter-spacing: .08em;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}
